<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration   xmlns:log4j="http://jakarta.apache.org/log4j/"  threshold="debug">

	<!-- 控制台输出-->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss sss}[%-p][%-c][line:%-L] \r\n  %m%n" />
		</layout>

<!-- 以下是过滤一些不需要输出的log信息-->
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="new a seq no spend" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="new hi[type=" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
            <param name="StringToMatch" value="FileTransfer.execCommand()" />
            <param name="AcceptOnMatch" value="false" />
        </filter>
	</appender>

	<!--文件输出 按照文件大小滚动文件-->
	<appender name="jyzz_file" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="File" value="${jyzz}/logs/jyzz.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="15" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss sss}[%-p][%-c][line:%-L] \r\n  %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="new a seq no spend" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="new hi[type=" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
            <param name="StringToMatch" value="FileTransfer.execCommand()" />
            <param name="AcceptOnMatch" value="false" />
        </filter>
	</appender>
	
	<!-- 错误输出 过滤出错误日志信息-->
	<appender name="jyzz_error" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="ERROR" />
		<param name="File" value="${jyzz}/logs/jyzz_error.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="4" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss sss}[%-p][%-c][line:%-L] \r\n  %m%n" />
		</layout>
	</appender>
   
  <!-- 根loggr -->
	<root>
	 	<priority value ="DEBUG" /> 
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="jyzz_file" />
		<appender-ref ref="jyzz_error" />
	</root>
</log4j:configuration>