/*@import "reset.css";*/
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	font: 400 1.0em 'trebuchet ms', arial, sans-serif;
}

img {
	border: 0px;
}

/*** Navigation ***/
#nav {margin-right: 0px;border-top: 1px solid #d9d9d9;float: right;background: url("../images/head.png") no-repeat right top ;}
.dd {height: 48px;}
.dd li {float: left;display: block;border-left: 1px solid #d9d9d9;text-align: center;font-size: 13px;text-transform: uppercase;}
.dd li a {color: #000; text-decoration: none; display: block; padding-top: 18px; margin: 0 14px; white-space: nowrap;}
.dd li a:hover { text-decoration: underline;}
.dd li ul {position: absolute;padding: 8px 0 10px;visibility: hidden;background: #eee;z-index: 1000;font: 3em ;}
.dd li ul li {background:#eee;	float: none; font-size: 12px; text-align: left; margin: 5px 0; padding: 0 8px; }
.dd li ul li a { color: #000; display: inline; margin: 0 !important; white-space: normal; padding-top: 0; }
.dd li.dd_hover {}
a.dd_hover:hover { text-decoration: none !important; }
.submenu a:hover { text-decoration: underline;}
.dd li.parent a { margin: 0 8px;	padding-right: 12px;}
.dd li.parent a.dd_hover {	color: #000;	background: url("../images/dd_hover.png") 100% 24px no-repeat;
	margin: 0 8px; padding-right: 12px; border-bottom: 1px solid green; padding-bottom: 10px; }

#header {
	margin-top: 5px;
	height: 110px;
	background: url("../images/topbar.png") repeat-x left bottom ;margin-bottom: 2px;width: 960px; 
}

#head {
	margin: 0.1em 0;
	line-height: 0.8em;
}

#head h1 {
	font: 200 3.5em arial, sans-serif;
	color: #666;
	margin-top: -5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	letter-spacing: -0.1em;
}

#head h2 {
	font: 100 1.5em 'trebuchet ms', arial, sans-serif;
	margin-top: -0.7em;
	padding: 0;
	margin-bottom: 10px;
	letter-spacing: -0.1em;
}

/*** Slideshow ***/
#slideshow,.slideshow {	height: 290px;	width: 960px;overflow: hidden;position: relative;}
.slide {height: 290px;width: 960px;background: #ffea97;}
.slide img {display: block;float: left;width: 640px;height: 290px;position: relative;top: -20px;left: -30px;}
.slide .post {padding: 20px 30px 0;}
.slide .post-category {font-size: 11px;color: #d9d9d9;text-transform: uppercase;margin-bottom: 5px;}
.slide .post a {color: #000;}
.slide .post .post-category a {text-decoration: none;}
.slide .post .post-category a:hover {text-decoration: underline;}
.slide .post h2 {margin-bottom: 5px;}
.slide .post h2,.slide .post h2 a { color: #000; font-size: 24px; font-weight: normal; text-decoration: none;}

.slide .post h2 a:hover {
	text-decoration: underline;
}

.slide .post .post-meta {
	font-size: 11px;
	font-style: italic;
	color: #656363;
	margin-bottom: 20px;
}

.slide .post .post-meta span,.slide .post .post-meta a {
	color: #000;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
}

.slide .post .post-meta a:hover {
	text-decoration: underline;
}

.slide .post .post-author {
	text-transform: uppercase;
}

.slide .post-content p {
	margin-bottom: 15px;
}

#larr,#rarr {
	display: block;
	width: 32px;
	height: 53px;
	position: absolute;
	top: 106px !important;
	opacity: 0.2;
	z-index: 99 !important;
}

#larr {
	background: #000 url("../images/larr.png") 8px 50% no-repeat;
	left: 0 !important;
}

#rarr {
	background: #000 url("../images/rarr.png") 11px 50% no-repeat;
	right: 0 !important;
}

#larr :hover,#rarr :hover {
	opacity: 1;
}














.search {
	text-align:center;
	width: 425px;
	float: left;
	margin-left: 100px;
}

.search fieldset {
	width: 345px;
	height: 31px;
	padding: 0px;
	
}

.search input {
	margin:0px;
	width: 300px;
	border: none;
	background: none;
	padding: 8px;
	color: #000;
	font: 11px Georgia, Geneva, "Times New Roman", times;
	vertical-align: middle;
}

.search button[type='submit'] {
	width: 30px;
	height: 31px;
	background: url("../images/search.png") left center no-repeat;
	cursor: pointer;
	border: none;
	vertical-align: middle;
}
/*
.search button[type='submit'] {
	width: 70px;
	height: 31px;
	background: url("../images/search1.png") right top no-repeat;
	cursor: pointer;
	border: none;
	vertical-align: middle;
	margin-left: 1px;
}
*/
#mgzlist {
	
}

.mgzdiv {
	margin-top: 10px;
	border-top: #eee solid 1px;
	padding: 15px 5px 0 5px;
}

/*.mgzdiv:hover{background: #FFEA97;}*/
#comser {
	padding-left: 10px;
	margin-top: 10px;
	border-top: #eee solid 1px;
	z-index: -1;
}

#main {
	position: relative;
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;
}

#right {
	width: 30%;
	float: right;
	border-top: 5px solid #ECECEC;
	padding-top: 40px;
	text-align: right;
	margin-bottom: 40px;
	margin-right: 2px;
}

#right ul,.right2 ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#right li,.right2 li {
	padding: 5px 0 5px 20px;
}

#right li a,.right2 li a {
	padding: 0 0 0 20px;
	color: #999;
	font-size: 1.1em;
	text-decoration: none;
}

#right li a:hover,.right2 li a:hover {
	background: #FFF url('../images/bullet.gif') no-repeat left center;
}

#usermenu {
	border-right: #eee solid 2px;
	border-top: #eee solid 1px;
	margin-left: -1px;
}

#usermenu h3 {
	margin-top: 5px;
}

#usermenu li {
	border-bottom: #eee solid 1px;
}

#usermenu li a {
	padding: 0 0 0 20px;
}

#usermenu li a:hover,.right2 li a:hover {
	background: #FFF url('../images/bullet.gif') no-repeat left center;
}

#left {
	width: 30%;
	float: left;
	border-top: 5px solid #ECECEC;
	padding-top: 40px;
	text-align: left;
	margin-bottom: 40px;
	margin-right: 20px;
}

#left ul,.left2 ul {
	list-style: none;
	margin: 0 20px 20px 0;
	padding: 0;
}

#left li,.left2 li {
	padding: 5px 0 5px 20px;
}

#left li a,.left2 li a {
	padding: 0 0 0 20px;
	color: #999;
	font-size: 1.1em;
	text-decoration: none;
}

#left li a:hover,.left2 li a:hover {
	background: #FFF url('../images/bullet.gif') no-repeat left center;
}

#content {
	display: block;
	width: 60%;
	/*margin-right: 35%;*/
	border-top: 5px solid #ECECEC;
	padding-top: 5px;
	margin-bottom: 5px;
}

h1 {
	font: 400 1.4em arial, sans-serif;
	color: #444;
	letter-spacing: -0.1em;
	margin-bottom: 0;
}

h2 {
	font: 400 1.2em 'trebuchet ms', arial, sans-serif;
	margin-top: 0.4em;
	padding-top: 0px;
	letter-spacing: -1px;
}

h3 {
	font: 400 1.2em arial, sans-serif;
	color: #666;
	letter-spacing: -0.1em;
	margin-bottom: 10px;
}

p {
	line-height: 1.8em;
	margin: 10px 0 2px 0;
	color: #777;
	font-size: 0.9em;
}

#content {
	display: block;
	float: left;
}

#content a,#content2 a,#foot a {
	text-decoration: none;
}

#content a:hover,#content2 a:hover,#foot a:hover {
	border-bottom: none;
}

img.content,a img.content {
	float: left;
	padding: 4px;
	border: 1px solid #D6D6D6;
	margin: 10px 0 10px 10px;
}

a:hover img.content {
	border: 1px solid #BBB;
}

img.color,a img.color {
	float: left;
	padding: 1px;
	border: 1px solid #CCC;
	margin: 0 8px 0 0;
}

a:hover img.color {
	border: 1px solid #999;
}

.right2 {
	float: right;
	width: 160px;
	margin-left: 15px;
	padding-top: 40px;
	border-top: 5px solid #ECECEC;
	text-align: right;
	font-size: 0.9em;
}

.right2 h3 {
	letter-spacing: -1px;
}

#content2 {
	margin-right: 365px;
	border-top: 5px solid #ECECEC;
	padding-top: 40px;
}

ol {
	color: #AAA;
	font: 600 1.0em arial, sans-serif;
	padding: 10px;
}

ol span {
	font: 400 1.0em 'trebuchet ms', arial, sans-serif;
	color: #777;
	font-style: normal;
}

ol li {
	margin-left: 25px;
	padding: 4px 0
}

#content ul,#content2 ul {
	list-style-type: none;
	padding: 10px;
	color: #777
}

#content ul li,#content2 ul li {
	padding-left: 17px;
	background: url('../images/bullet2.gif') no-repeat left center;
	margin-left: 10px;
}

table {
	width: 620px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
	border-collapse: collapse;
}

table caption {
	margin-top: 10px;
	padding: 0 0 0.5em 3px;
	font: 400 1.2em arial, sans-serif;
	text-align: left;
	letter-spacing: -1px;
}

table th,table td {
	text-align: left;
	vertical-align: top;
	padding: 4px 7px !important;
	padding: 6px 10px;
}

thead th {
	border-top: 2px solid #CCC;
	border-bottom: 1px solid #CCC;
}

tbody td {
	border-bottom: 1px solid #ECECEC;
}

tbody tr:hover {
	/*background-color: #F0F0F0;*/
}
#loginForm table td {border:none;}
#loginForm table tbody tr:hover {background:none;}
#registerform table td {border:none;}
#registerform table tbody tr:hover {background:none;}
.blockquote {
	display: block;
	width: 100%;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	background-color: #F0F0F0;
	margin: 10px 0 20px 10px;
	padding: 5px;
	font-style: italic;
}

form label {
	display: inline;
}

input[type='text'],input[type='password'] {
	width: 300px;
	padding: 4px;
	color: #000;
	font: 16px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans";
	vertical-align: middle;
}

input[type='submit'] {
	width: 150px;
	padding: 4px;
	color: #000;
	font: 16px Georgia, Geneva, "Times New Roman", times;
	vertical-align: middle;
}

kbd,code {
	background: #eaeaea;
}

input[readonly] {
	background-color: #eee;
}

form input.text,form textarea {
	border: 1px #000 solid;
	color: #666;
	font: 16px Arial, san-serif;
	background-color: #F3F3F3;
}

form input.text:hover,form textarea:hover {
	border: 1px #000 solid;
}

form input.text:focus,form textarea:focus {
	border: 1px #000 solid;
	color: #666;
}

form input.button {
	margin-right: 8px;
	padding: 3px 5px;
	font: 12px Arial, san-serif;
}

#foot {
	width: 100%;
	border-top: 6px solid #BED957;
	padding: 20px 0 20px 0;
	margin-top: 40px;
	display: block;
	float: left;
	background: url("../images/foot.png") no-repeat left bottom ;
}

button,input,select,textarea /* for ie */ {
	
}

.imgdiv {
	display: block;
	float: left;
}

.imgdiv1 {
	display: block;
	width: 100px;;
	float: left;
}

.imgdiv1 img {
	float: left;
}

.imgdiv1 a {
	float: left;
	display: block;
}

.del_img {
	background: url("../images/delete.gif") left center no-repeat;
	padding: 0px 5px 0px 15px;
	display: inline;
	margin: 5px;
}

.def_img {
	background: url("../images/accept.gif") left center no-repeat;
	padding: 0px 5px 0px 15px;
	display: inline;
	margin: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

ul {
	list-style: none;
}

#head h2 {
	color: #92BF92;
}

#right li a:hover,.right2 li a:hover {
	color: #92BF92;
}

h2 {
	color: #92BF92;
}

a {
	color: green;
}

a img {
	color: #fff;
}

.blue {
	color: #3064A6;
}

thead th {
	color: #92BF92;
}

.list .post {
	
}

.list .post .thumb img {
	float: left;
	margin: 0 30px 30px 0;
	border: 0;
}

.list .post a {
	color: #000;
	margin: 0;
}

#tableb input {
	max-width: 100px;
	width: 100px;
	margin: 0;
}

#tableb input[type='submit'],#tableb input[type='reset'] {
	width: 40px;
	height: 25px;
	border: 1px solid #fff;
	vertical-align: bottom;
	margin-left: 2px;
	
}


#tableb button[type='submit'] {
	width: 50px;
	height: 25px;
	border: 1px solid #eee;
	vertical-align: bottom;
	margin-left: 2px;
	font: 12px Georgia, Geneva, "Times New Roman", times;
	background: url("../images/page_find.gif") left center no-repeat;
	padding: 5px 5px 5px 15px;
	display: inline;
}

#tableb button {
	width: 50px;
	height: 25px;
	border: 1px solid #eee;
	vertical-align: bottom;
	margin-left: 5px;
	font: 12px Georgia, Geneva, "Times New Roman", times;
	background: url("../images/delete.gif") left center no-repeat;
	padding: 5px 5px 5px 15px;
	display: inline;
}

.tocart {
	background: url("../images/tocart.png") left center no-repeat #ABD061;
	padding-left: 25px;
	display: block;
	color: #604621;
}
.tocart:hover{color: #000;}

.consignee input{font: 12px Georgia, Geneva, "Times New Roman", times; }
.error ,.nes{color: red;}


#div_consignee{display: none; background-color: #eee;}
	

.btn_sureorder{color: green; padding: 2px 5px 2px 5px;font: 16px Georgia, Geneva, "Times New Roman", times;cursor: pointer;}

.div_middle{margin-top: 10px;}
#mycart{ background: url("../images/cart32.png") no-repeat left bottom ;padding-left: 30px;}
#myhome{ background: url("../images/home32.png") no-repeat left bottom ;padding-left: 30px;}
#listmgz{ background: url("../images/explore32.png") no-repeat left bottom ;padding-left: 30px;}
#home{ background: url("../images/index32.png") no-repeat left bottom ;padding-left: 30px;}
#mylogin{ background: url("../images/login32.png") no-repeat left bottom ;padding-left: 30px;}
#logout{ background: url("../images/logout.png") no-repeat left bottom ;padding-left: 30px;}

#topbar{ background: url("../images/topbar.png") repeat-x left bottom ;margin-bottom: 5px;width: 960px; }

#msg{text-align: center;color: green;}
.tdright{text-align: right;vertical-align: bottom;font: 20px Georgia, Geneva, "Times New Roman", times;}
